@media screen and (max-width: 1400px){
    .hero_img img{
        height: 14rem;
    }
    .hero_texto h1{
     font-size: 2.5rem;   
    }
    .hero_img1 img{
        width: 30rem;
    }
    .hero_texto a{
        padding: .6rem 2rem;
    }
    .section_img img{
        width: 35rem;
    }
    .grid_container{
        width: 80%;
        height: 40rem;
        margin: 0 10%;
    }
}

@media screen and (max-width: 1024px){
    
    .menu{
        display: block;
        margin-right: 3rem;

    }
    .hero_img img{
        width: 100%;
        height: 14rem;
    }

    .ul_bg{
        background-color: white;
        margin: 0;
        width: 70%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 3rem;
        left: -100%;
        box-shadow: 7px 3px 7px 0px rgba(0, 0, 0, 0.055);
    }
    
    .active{
        position: fixed;
        top: 3rem;
        left: 0;
        
    }
    nav ul li{
        font-size: 2rem;
        padding: 1.4rem;
    }
    .hero_container{
        justify-content: center;
    }
    .hero_texto{
        text-align: center;
    }
    .hero_texto h1{
        font-size: 2.5rem;
    }

    .hero_texto a{
        padding: .5rem 2rem;
    }

    .hero_img1 img{
        display: none;
    }
    .section h2{
        text-align: center;
    }
    .section_container{
        flex-direction: column;
        align-items: center;
    }
    .section_textos{
        text-align: center;
        width: 90%;
        margin-bottom: 4rem;
    }
    .card{
        width: 35rem;
        height: 10rem;
    }
}

@media screen and (max-width: 414px){

    .hero_img img{
        width: 100%;
        height: 7rem;
    }
    .hero_texto{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .hero_texto h1{
        font-size: 2.2rem;
    }
    .hero_texto a{
        padding: .5rem 1rem;
        font-size: 1.3rem;
    }
    h2{
        font-size: 2rem;
    }
    .section_textos h3{
        font-size: 1.7rem;
    }
    .section_textos p{
        font-size: 1.3rem;
    }

    .card{
        width: 22rem;
        height: 7rem;
        border-radius: 1rem;
    }
    .card_img{
        padding: 0 1rem;
    }
    .card_img img{
        width: 5rem;
    }
    .card_puntos h3{
        font-size: 1rem;
    }

    .card_estrellas i{
        font-size: 1.4rem;
    }
    .section_img img{
        width: 20rem;
    }
    .grid_container{
        width: 90%;
        height: 50rem;
        margin: 0 5%;
        display: flex;
        flex-direction: column;
    }
    .grid_cuadros{
        height: 12rem;
        margin:  .3rem 0;
    }
    .card_proyectos{
        height: 9rem;
    }
    .redes_contactos{
        flex-direction: column;
    }
    .redes{
        margin: 1rem 0;
    }
}